.main-shotrs__row {
  display: flex;
  gap: 1%;
  min-width: 320px;
    margin: 5% auto;
    max-width: 1384px;
}
.main-shotrs__name {
  color: #343434;
  text-align: center;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600; 
  line-height: 20px;
  margin-top: 10px;
}

.main-shotrs__video iframe {
  border-radius: 7px;
  min-height: 477px;
}
.main-shotrs a.widget-all-button.intec-cl-text-light-hover .fal {
  display: none;
}
@media(max-width:1200px) {
  .main-shotrs__video iframe {
      min-height: 411px;
  }
}
@media(max-width:1024px) {
  .main-shotrs__video iframe {
      min-height: 335px;
  }
}
@media(max-width:860px) {
  .main-shotrs__row {
      display: flex;
      gap: 0;
      flex-wrap: wrap;
      justify-content: space-between;
  }
  .main-shotrs__block {
      margin-bottom: 20px;
      width: 48%;
  }
  .main-shotrs__row  .main-shotrs__block:nth-child(1), .main-shotrs__row  .main-shotrs__block:nth-child(3)  {
    margin-right: 10px;
  }
  .main-shotrs__row  .main-shotrs__block:nth-child(2), .main-shotrs__row  .main-shotrs__block:nth-child(4)  {
      margin-left: 10px;
    }
    .main-shotrs__row  .main-shotrs__block:nth-child(5) {
      display: none;
    }
    .main-shotrs__title-h2 h2 {
      font-size: 20px;
  }
}
@media(max-width:540px) {
  .main-shotrs__video iframe {
      min-height: 300px;
  }
  .main-shotrs__block {
      width: 47%;
  }
  .main-shotrs a.widget-all-button.intec-cl-text-light-hover .fal {
      display:block;
  }
  .main-shotrs a.widget-all-button.intec-cl-text-light-hover span {
      display: none;
  }
  .main-shotrs__title-h2 {
      max-width: 75%;
  }
}